<!DOCTYPE html>
<html>
  <head>
    <title>Shopping App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%# Can't hardcode class="products" otherwise it messes up the CSS and layout for the shopper and admin views. SO, we use controller name %>
  <body class="<%= controller.controller_name%>">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Our Products" %>
    </div>

    <div id="columns">
      <div id="side">
        <%# Get code later STYLING FOR EVERYTHING TOO %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
