<!DOCTYPE html>
<html>
  <head>
    <title>Shopping App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%# Can't hardcode class="products" otherwise it messes up the CSS and layout for the shopper and admin views. SO, we use controller name %>
  <body class="<%= controller.controller_name%>">
    <div id="banner">
      <%= @page_title || "Our Comics" %>
    </div>

    <div id="columns">
      <div id="side">
        
        <div id="cart">
          <% if @cart != nil %>
            <%= render(@cart)  %>
          <% end %>
        </div>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Questions</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
